@import url(./variables.css);

.principal-color {
  background: linear-gradient(100.72deg, #de3a01 7.92%, #d90b59 91.26%);
  justify-content: center;
  align-items: center;
  padding: 13px 36px;
  border-radius: 30px;
  color: white;
}

.background-principal {
  background-color: #414b59;
}

.font-size-paragraphs {
  font-size: 0.8rem;
}

.img-content {
  position: absolute;
  width: 32rem;
  right: 6rem;
  margin-top: 2rem;
}

.recursived-div {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.div-before-card {
  color: transparent;
}
.div-card-text {
  background: var(--bg-principal);
  opacity: 0.8;
  color: #fff;
  padding: 1.2rem 2rem;
}
.div-card-text:hover {
  background: linear-gradient(180deg, #de3a01 0%, #d90b59 100%);
  opacity: 0.8;
}

.div-bg-one {
  background-image: url(../assets/card-bg-three.png);
}

.div-bg-two {
  background-image: url(../assets/card-bg-four.jpg);
  cursor: pointer;
}
.div-bg-three {
  background-image: url(../assets/card-bg-one.png);
  cursor: pointer;
}
.div-bg-four {
  background-image: url(../assets/card-bg-two.png);
  cursor: pointer;
}

.flex-li-book {
  display: flex;
  flex-direction: row;
}

.text-bookmark {
  margin-top: 0.9em;
  margin-left: 2rem;
}
.img-team {
  width: 25rem;
  float: right;
}
.img-bookmark-white {
  height: 3rem;
}

/* Responsive */

@media (max-width: 640px) {
  /*   .flex-li-book{
    flex-direction: column;
  } */
  .img-content {
    margin-top: 4rem;
    position: relative;
    right: 3rem;
  }

  .height-div {
    height: 45rem;
  }

  .recursived-div {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .separated-content {
    display: none;
  }

  .margin-top-description {
    margin-top: 5rem;
  }

  .square-img {
    display: none;
  }
}
@media (min-width: 641px) and (max-width: 1000px) {
  .img-content {
    margin-top: 4rem;
    position: absolute;
    right: 2rem;
    width: 25rem;
  }

  .recursived-div {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .separated-content {
    display: none;
  }

  /*   .height-div{
    height:45rem;
  } */
}
