.principal-color {
  background: linear-gradient(100.72deg, #de3a01 7.92%, #d90b59 91.26%);
  justify-content: center;
  align-items: center;
  padding: 13px 36px;
  border-radius: 30px;
  color: #fff;
}
.font-size-paragraphs {
  font-size: 0.8rem;
}
